h1{
    font-weight: 500;
    color:rgb(112, 188, 230)
    
}
h2{
    color: rgb(199, 192, 244);
}
body {
   background-color:blanchedalmond;
}
ul{
    color:black
}
li{
    color:black
}
ol{
    color: black;
   
}